.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.heading:hover {
    background: linear-gradient(#03bafc 50%, #0388fc 75%, #035efc 100% );
}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.copy_right_footer:hover {
    background: linear-gradient(#e38a4f 0%, #e3b24f 50%, #e3e34f 100%);
}